<%= form_with(model: article, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :title, '標題' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :sub_title, '子標題' %>
    <%= f.text_field :sub_title %>
  </div>

  <div>
    <%= f.label :password, '密碼' %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :content, '內文' %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit %>
<% end %>
