<h1>文章列表</h1>

<%= link_to "新增文章", new_article_path %>

<ul>
<% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
    <article>
      <p>
        <% if article.password.present? %>
          <%= form_with(model: article,
                        url: unlock_article_path(article),
                        data: { turbo: false }) do |f| %>
            <%= f.label :password, '密碼' %>
            <%= f.password_field :password %>
            <%= f.submit '送出' %>
          <% end %>
        <% else %>
          <%= article.content.truncate(100) %>
        <% end %>
      </p>

      <footer><%= link_to '閱讀更多', article_path(article) %></footer>
    </article>

    <%= link_to '更新', edit_article_path(article) %>
    <%= link_to '刪除', article_path(article),
                       data: {
                         turbo_method: 'delete',
                         turbo_confirm: '確定刪除？'
                       } %>
  </li>
<% end %>
</ul>
