<h1 class="text-2xl">文章列表</h1>

<%= form_with(url: '', method: :get) do |f| %>
  <%= f.search_field :keyword, value: params[:keyword] %>
  <%= f.submit 'Search', class: 'action-btn' %>
  <%= link_to 'Clear', articles_path, class: 'action-btn' %>
<% end %>

<hr class="my-4">

<%= link_to "新增文章", new_article_path, class: 'action-btn' %>

<ul>
<% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
    <article>
      <p>
        <% if article.password.present? %>
          <%= form_with(model: article,
                        url: unlock_article_path(article),
                        data: { turbo: false }) do |f| %>
            <%= f.label :password, '密碼' %>
            <%= f.password_field :password %>
            <%= f.submit '送出' %>
          <% end %>
        <% else %>
          <%= article.content.truncate(100) %>
        <% end %>
      </p>

      <footer><%= link_to '閱讀更多', article_path(article) %></footer>
    </article>

    <%= link_to '更新', edit_article_path(article) if policy(article).update? %>
    <%= link_to '刪除', article_path(article),
                       data: {
                         turbo_method: 'delete',
                         turbo_confirm: '確定刪除？'
                       } if policy(article).destroy? %>
  </li>
<% end %>
</ul>
