<h1><%= @article.title %></h1>

<article>
  <p><%= @article.content %></p>
</article>

<hr>
<h2>留言<%= Time.now %></h2>

<%= form_with(model: [@article, @comment]) do |f| %>
  <div>
    <%= f.label :content, '留言內容' %><br />
    <%= f.text_area :content%>
  </div>

  <%= f.submit '新增留言'%>
<% end %>

<ul id="comment_list">
  <%= render @comments %>
</ul>
<hr>
