<nav class="bg-green-100 flex justify-between px-4 py-2">
  <ul class="flex gap-2">
    <%= link_to '有名小站', root_path %>
    <li><%= link_to '文章', articles_path %></li>
    <li><%= link_to '相簿', albums_path %></li>
  </ul>

  <ul class="flex gap-2">
    <% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li><%= link_to "登出", logout_users_path,
                             data: { turbo_method: 'delete' } %></li>
    <% else %>
      <li><%= link_to "登入", login_users_path %></li>
      <li><%= link_to "註冊", new_users_path %></li>
    <% end %>
  </ul>
</nav>
