<nav class="flex justify-between px-4 py-2 bg-green-100">
  <ul class="flex gap-2">
    <%= link_to '有名小站', root_path %>
    <li><%= link_to t('navbar.article'), articles_path %></li>
    <li><%= link_to t('navbar.album'), albums_path %></li>
    <li><%= link_to t('navbar.pay'), pricing_path %></li>
  </ul>

  <ul class="flex gap-2">
    <li><%= link_to 'En', root_path(locale: 'en') %></li>
    <li><%= link_to '中文', root_path(locale: 'tw') %></li>
    <li><%= link_to '日文', root_path(locale: 'jp') %></li>

    <% if user_signed_in? %>
      <li><%= current_user.email %></li>
      <li><%= link_to "登出", logout_users_path,
                             data: { turbo_method: 'delete' } %></li>
    <% else %>
      <li><%= link_to "登入", login_users_path %></li>
      <li><%= link_to "註冊", new_users_path %></li>
    <% end %>
  </ul>
</nav>
