<h1>相簿</h1>

<%= link_to '新增相簿', new_album_path, class: 'action-btn' %>

<ul class="grid grid-cols-4 gap-4 mt-4" data-controller="sort">
<% @albums.each do |album| %>
  <li class="col-span-1" data-id="<%= album.id %>">
    <div class="border border-slate-400">
      <picture>
        <%= link_to album do %>
          <img src="https://fakeimg.pl/300x200/?text=<%= (1..10).to_a.sample %>">
        <% end %>
      </picture>

      <footer class="flex justify-between px-2 py-1 font-semibold">
        <span><%= link_to album.name, album %></span>
        <% if album.password.present? %>
          <span>X</span>
        <% end %>
      </footer>
    </div>
  </li>
<% end %>
</ul>
