<h1 class="text-3xl">訂單資訊</h1>

post -> /orders/create

<%= form_with(model: @order, data: { turbo: false }) do |f| %>
  <%= f.hidden_field :solution, value: params[:id] %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :tel %>
    <%= f.phone_field :tel %>
  </div>

  <%= f.submit '前往付款', class: 'action-btn' %>

<% end %>
